replicas: 1
clusterName: "elasticsearch"
nodeGroup: "master"

minimumMasterNodes: 1

resources:
  requests:
    cpu: "250m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"

persistence:
  enabled: true

esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: false
    xpack.security.transport.ssl.enabled: false
    xpack.security.http.ssl.enabled: false

xpack:
  license:
    selfGenerated:
      type: basic