daemonset:
  enabled: true
  filebeatConfig:
    filebeat.yml: |
      filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
      output.elasticsearch:
        hosts: ['http://elasticsearch-master:9200']
        hosts: ['http://elasticsearch-master:9200']
        username: "${ELASTICSEARCH_USERNAME}"
        password: "${ELASTICSEARCH_PASSWORD}"
  
  # extraVolumeMounts:
  #   - name: varlog
  #     mountPath: /var/log
  #     readOnly: true
  
  # extraVolumes:
  #   - name: varlog
  #     hostPath:
  #       path: /var/log

# Minimal RBAC
rbac:
  create: true
  clusterRoleRules:
    - apiGroups: [""]
      resources: ["pods", "namespaces"]
      verbs: ["get", "list", "watch"]

# Minimal resources
resources:
  requests:
    cpu: "50m"
    memory: "50Mi"
  limits:
    cpu: "200m"
    memory: "200Mi"