replicas: 1

service:
  type: LoadBalancer

resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

elasticsearchHosts: "http://elasticsearch-master:9200"

protocol: http

elasticsearchCredentialSecret: "elasticsearch-master-credentials"

serviceAccountToken:
  enabled: false

secretMounts: []

elasticsearchCertificateAuthoritiesFile: ""

createCert: false

readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 10

livenessProbe:
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 10