replicas: 1

service:
  type: LoadBalancer

resources:
  requests:
    cpu: "100m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

elasticsearchHosts: "http://elasticsearch-master:9200"

protocol: http
createCert: false
secretMounts: []
elasticsearchCertificateAuthoritiesFile: ""